body {
    background-color: orange;
}
h1{
    text-align: center;
}
.sports {
    margin: 5px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}
#form {
    margin-right: 25px;
    text-align: center;
}
#searchButton {
    background-color: white;
    border-radius: 15px;
}

#buttons{
    background-color:red;
}